@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@500&family=Lobster&family=Paytone+One&family=Varela&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    font-size: 10px;
}

#wrapper {
    width: 100%;
    display: grid;
    grid-template: 120px auto 120px / auto;
}
#wrapper__header {
    background-color: #f3b4fb;
    grid-area: 1 / 1 / 2 / 2;
}
/* NAVIGATION BAR */
