@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

#wrapper {
  width: 100%;
  height: 100vh;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.6rem;
  color: #fff;
  display: grid;
  grid-template: 70px auto 110px / auto;
  background-image: url("../assets/stacked-steps-haikei(1).svg");
  background-size: cover; }

#wrapper__header {
  background-color: #f3b4fb;
  grid-area: 1 / 1 / 2 / 2;
  border-bottom: 1px solid #f3b4fb;
  border-radius: 0px 0px 20px 20px;
  box-shadow: -1px 18px 20px -9px rgba(36, 36, 36, 0.66);
  -webkit-box-shadow: -1px 18px 20px -9px rgba(36, 36, 36, 0.66);
  -moz-box-shadow: -1px 18px 20px -9px rgba(36, 36, 36, 0.66);
  position: sticky;
  z-index: 10000; }

.header__nav {
  background-color: #f3b4fb;
  border-bottom: 1px solid #f3b4fb;
  border-radius: 0px 0px 20px 20px;
  box-shadow: -1px 18px 20px -9px rgba(36, 36, 36, 0.66);
  -webkit-box-shadow: -1px 18px 20px -9px rgba(36, 36, 36, 0.66);
  -moz-box-shadow: -1px 18px 20px -9px rgba(36, 36, 36, 0.66); }

.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 0px 1rem;
  right: 0; }
  .nav__toggle svg {
    width: 3.2rem;
    height: 3.2rem;
    fill: #af7fa6; }
  .nav__toggle .close {
    display: none;
    margin-top: 1rem;
    margin-right: 0.5rem; }
  .nav__toggle .menu {
    margin-top: 1rem;
    margin-right: 0.5rem; }

.nav__checkbox {
  display: none; }

.header__nav__menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 1rem; }
  .header__nav__menu li {
    list-style: none;
    display: none; }
    .header__nav__menu li:first-child {
      margin-right: auto;
      display: block; }
  .header__nav__menu a {
    text-decoration: none;
    color: #af7fa6;
    text-transform: uppercase;
    font-size: 1.4rem; }

.header__nav__logo {
  height: 60px; }
  .header__nav__logo img {
    height: 100%; }

#nav__checkbox:checked ~ ul.header__nav__menu li {
  display: block; }

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block; }

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none; }

.wrapper__main {
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  word-wrap: break-word;
  margin-top: 3rem; }
  .wrapper__main section {
    width: 100%;
    height: auto; }

.main__text--index, .main__text--aboutus, .main__text--teams {
  width: 80%;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  background: #af7fa6b6;
  opacity: 0.7;
  overflow: hidden;
  margin: 2rem auto 2rem auto;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #ec99f7; }

.main__title {
  height: 50px;
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem;
  padding-bottom: 2rem;
  color: #fff;
  text-align: center;
  line-height: 30px; }

.tracking__title {
  -webkit-animation: tracking__title 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking__title 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

.main__index__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0px 1rem;
  gap: 1.5rem; }

.section__video {
  border: 2px solid #ffffff9c;
  border-radius: 10px 10px 10px 10px;
  width: 360px;
  height: 215px;
  margin: 0; }

.main__about__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px; }
  .main__about__section img {
    width: 320px;
    border-radius: 20px 0px 20px 0px; }

.wrapper__main-section {
  padding-top: 2.5rem; }

.main__teams__section {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main__teams__section img {
    width: 280px;
    height: auto;
    margin-top: 10px;
    border: 1px solid #fff;
    border-radius: 20px 0px 20px 0px; }

.wrapper__main-location {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem; }
  .wrapper__main-location iframe {
    width: 300px;
    height: 400px; }

.main__title-location {
  margin-top: 30px;
  padding-top: 10px; }

#survey-form {
  border: 2px solid #ec99f7;
  background-color: #af7fa6b6;
  width: 320px;
  height: 440px;
  margin: auto auto 20px auto; }
  #survey-form legend {
    margin-top: 5px;
    text-align: center; }

.form-group {
  padding-top: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; }
  .form-group input {
    width: 200px; }

#submit {
  margin: 25px auto auto auto;
  width: 125px;
  background-color: #8ecdf1; }

hr {
  background-color: #fff; }

#costArea {
  height: 550px;
  margin: 25px auto auto auto; }

#addFeminineZones {
  margin: 15px auto auto auto;
  border: solid 2px #fff;
  padding: 10px;
  text-align: center; }
  #addFeminineZones h3 {
    font-size: 1.6rem; }

#addMasculineZones {
  margin: 15px auto 10px auto;
  border: solid 2px #fff;
  padding: 5px;
  text-align: center; }
  #addMasculineZones h3 {
    font-size: 1.6rem; }

footer {
  grid-area: 3 / 1 / 5 / 2;
  background-color: #f3b4fb;
  color: #af7fa6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  footer p {
    text-decoration: none; }
  footer i {
    padding: 10px;
    color: #af7fa6; }

.footer__mapsite {
  font-size: 1.6rem;
  text-align: center; }
  .footer__mapsite ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none; }
    .footer__mapsite ul li {
      margin-top: 15px;
      padding: 5px; }
      .footer__mapsite ul li a {
        text-decoration: none;
        color: #af7fa6; }

.footer__icon--vibrate {
  -webkit-animation: icon--vibrate 0.3s linear infinite both;
  animation: icon--vibrate 0.3s linear infinite both; }

@media only screen and (min-width: 810px) {
  .wrapper__main-location {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 3rem; }
    .wrapper__main-location iframe {
      width: 700px;
      height: 400px; }
  footer {
    justify-content: space-evenly; } }

@media only screen and (min-width: 1200px) {
  .nav__toggle {
    display: none; }
  .header__nav__logo {
    height: 90px; }
    .header__nav__logo img {
      height: 100%;
      margin-left: 100px; }
  .header__nav__menu {
    flex-direction: row;
    padding: 0px 30px 0px 30px;
    margin-right: 10px; }
    .header__nav__menu li {
      display: block;
      padding-right: 15px; }
    .header__nav__menu a {
      font-size: 2.5rem; }
      .header__nav__menu a:hover {
        text-decoration: underline; }
  .main__title {
    font-size: 6rem;
    line-height: 50px;
    padding-top: 25px;
    padding-bottom: 50px; }
  .wrapper__main P {
    padding-top: 40px;
    width: 70%;
    height: 150px;
    font-size: 3rem; }
  .main__index__section {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px; }
  .section__video {
    background-color: #af7fa683;
    transition: all 0.5s ease-in-out;
    width: 500px;
    height: 350px; }
    .section__video:hover {
      transform: scale(1.1);
      transition: all 0.5s ease-in-out; }
  .main__about__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding-top: 20px; }
    .main__about__section P {
      width: 800px;
      height: auto;
      padding-top: 10px; }
    .main__about__section img {
      width: 420px;
      height: auto;
      margin: 50px 250px 20px 0px;
      border-radius: 20px 0px 20px 0px; }
  hr {
    display: none; }
  .wrapper__main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
  .main__teams__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem; }
    .main__teams__section p {
      width: 700px;
      font-size: 2rem;
      padding-top: 15px; }
    .main__teams__section img {
      width: 280px;
      height: auto;
      margin-bottom: 10px;
      border: 1px solid #fff;
      border-radius: 20px 0px 20px 0px; }
  .wrapper__main-location {
    justify-content: space-around; }
    .wrapper__main-location iframe {
      width: 1440px;
      height: 500px;
      padding-bottom: 20px; }
  footer a {
    font-size: 2rem;
    padding-left: 25px; } }

@-webkit-keyframes icon--vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes icon--vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

@-webkit-keyframes tracking__title {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes tracking__title {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }
