$background-principal: #f3b4fb;
$background-secundario: #af7fa6b6;
$background-video: #af7fa683;
$color-icons: #af7fa6;
$color-text: #fff;
$color-border: #ec99f7;

@mixin flex-column {
    display: flex;
    flex-direction: column;
}
    
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
